.header {
    width: 90vw;
    min-height: 88px;
    display: flex;
    background-color: #1C1C21;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.listItem {
    list-style: none;
}

.logo {
    list-style: none;
}
